.form {
  margin: 4rem auto;
  width: 100%;
  max-width: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search {
  width: 100%;
  display: flex;
}

.search input {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.filterAndSorting {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filtersOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000077;
  z-index: 1;
}

.filtersContainer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.filtersContainer label {
  display: block;
}

.showFilters {
  display: block;
}

.filters {
  padding: 1rem;
}

.filterBtns {
  margin-bottom: 1rem;
}

.filterBtns button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filterBtns button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 40em) {
  .form {
    max-width: 40rem;
    width: 100%;
    flex-direction: row;
  }

  .search {
    flex-basis: 1rem;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .filterAndSorting {
    width: fit-content;
    flex-wrap: nowrap;
  }

  .filterAndSorting button,
  .filterAndSorting select {
    min-width: fit-content;
  }
}

@media (min-width: 60em) {
  .form {
    max-width: 70rem;
  }

  .search {
    flex-basis: fit-content;
    flex-grow: 0;
  }
}
