.searchBar {
  margin: 4rem auto;
  width: 100%;
  max-width: 20rem;

  display: flex;
  justify-content: space-between;
}

.filtersOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000077;
  z-index: 1;
}

.filtersContainer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.filtersContainer label {
  display: block;
}

.showFilters {
  display: block;
}

.filters {
  padding: 1rem;
}

.filterBtns {
  margin-bottom: 1rem;
}

.filterBtns button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filterBtns button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 40em) {
  .searchBar {
    max-width: 40rem;
  }
}

@media (min-width: 60em) {
  .searchBar {
    max-width: 70rem;
  }
}
