.grid {
  max-width: 20rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 40em) {
  .grid {
    max-width: 40rem;

    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .grid {
    max-width: 70rem;

    grid-template-columns: 1fr 1fr 1fr;
  }
}
